


body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aquamarine;
}

main{
    margin: 0;
    padding: 0;
}

.formulario{
    width: 50vh;
    height: 100vh}

h1 {
    margin-top: 100px;
    position: relative;
    top: 80px;
    left: 250px;
    color: blue;
    font-size: bold;
}    

.login_de_usuario{
    display: table-row;
    width: 25px;
    position: relative;
    top: 100px;
    left: 250px;
    color: rgb(86, 5, 235);
    font-size: bold;
    margin-left: 250px;
}

.login_de_usuario{
    padding: 30px 20px;
    height: 200px;
    }

.input_senha, .login_de_usuario{
    margin-top: 25px;
}

#email, #senha {
    width: 50vh;
    height: 20px;
    border: solid rgb(66, 151, 201);
    border-radius: 10px;
}

.ajuda{
    padding-top: 25px;

}

.btn{
    background-color: blueviolet;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    color: white;
    font-size: x-large;
}

img{
display: inline-block;
width: 400px;
box-shadow: 6px 6px 6px mediumaquamarine;
border-radius: 10px;

}
.imagem_lateral {
    
    
    position: absolute;
    left: 60vh;
    bottom: 17vh;
    margin-left: 250px;
    
    

}

